@import "reset";
@import "mixins";

body {
    font-family: "Inconsolata";
    height: 500vh;
}

.navbar {
    @include flex(space-around, $dir: row);
    width: 100%;
    padding: 20px 0px;

    background-color: whitesmoke;
    position: fixed;
    box-shadow: 0px 0px 6px rgba(60, 58, 58, 1);

    .logo {
        padding: 10px 20px 13px;
        border: solid 1px rgb(187, 39, 213);
        border-radius: 5px;
        color: black;

        position: relative;
        font-size: 1.3em;
        letter-spacing: .2em;
        cursor: pointer;

        &::after {
            content: "";
            width: 27%;
            height: 1.5px;
            background-color: rgb(187, 39, 213);

            position: absolute;
            left: 2.4em;
            bottom: 11px;
            transform-origin: bottom left;
        }

        &:hover::after {
            animation: logo_hover .5s ease-in-out forwards;
        }
    }

    .nav_links {
        font-size: 1.1em;
        transition: border .5s ease;

        a {
            padding: 8px 12px;
            letter-spacing: 1px;
            color: rgb(31, 87, 218);

            &:hover {
                outline: solid 1px rgb(187, 39, 213);
                border-radius: 5px;
            }

            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}

.not_navbar {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, rgba(134, 64, 153, 1) 0%, rgba(192, 20, 238, 1) 32%, rgba(0, 177, 255, 1) 70%, rgba(0, 177, 255, 1) 100%);
    background-size: 200% 200%;
    position: absolute;
    z-index: -69;
    animation: gradient 15s ease infinite;

    .image {
        @include dimensions(300px, $br: 50%);
        position: absolute;
        top: 250px;
        right: 340px;
        background-image: url(../../utils/images/summer_nights.gif);
        background-position: 50% 100%;
        transform: scale(1.6);
    }

    .text {
        position: absolute;
        color: whitesmoke;
        mix-blend-mode: overlay;
        top: 35%;
        left: 15%;
        font-size: 1.7em;

        h1 {
            margin-bottom: 40px;

            em {
                text-decoration: underline;
                text-underline-offset: 8px;
            }
        }

        p {
            font-size: .7em;
        }
    }

    .learn_more {
        @include button(130px, 50px, 10px, rgb(91, 0, 219), rgb(245, 245, 245));
        position: absolute;
        top: 60%;
        left: 15%;
        font-size: .8em;
        letter-spacing: 1px;
        word-spacing: 5px;
    }
}


@keyframes logo_hover {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 20% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 20% 50%;
    }
}
