@mixin flex($justify: center, $align: center, $dir: column) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

@mixin dimensions($w: 100px, $h: $w, $br: 0px) {
    width: $w;
    height: $h;
    border-radius: $br;
}

@mixin button($w: 50px, $h: calc($w / 2), $br: 0px, $bg: white, $c: black) {
    width: $w;
    height: $h;
    background-color: $bg;
    color: $c;
    border-radius: $br;
    cursor: pointer;
}