* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Spinnaker", "Albert Sans", "Roboto Mono", "Inconsolata";
    font-size: 1.4rem;
    letter-spacing: .7px;
    line-height: 1.8rem;
}